:root {
    --nero: #242424;
    --steel: #6b7378;
    --choco: #bc672c;
    --cream: #ecddce;
    --sunny: #eef4b1;
    --sea: #acd7eb;
    --marine: #00396a;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(115deg, var(--sea), var(--cream), var(--sunny));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--marine);
}

article {
    box-shadow: 0 4px 10px var(--steel);
}

button:active {
    transform: translate(0, 5px);
}

/* Mozilla - remove number input arrows */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome/Edge - remove number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;